html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7fdf7;
  &::-webkit-scrollbar {
    width: 10px;
    margin-left: -10px;
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar-track {
    background-color: lighten(#e5fae5, 5%);
    border-right: 1px solid darken(#e5ffe5, 5%);
    border-left: 1px solid darken(#e5ffe5, 5%);
  }
  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: darken(rgb(212, 250, 212), 5%);
    background-clip: content-box;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 2px;
  }
}

// STYLE
.text-green {
  color: rgb(85, 138, 85);
}
.text-dark-gray {
  color: #6c757d;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Procurar";
}

.custom-file-label::after {
  background-color: rgb(85, 138, 85);
  color: #fffeff;
}

.btn-success {
  background-color: rgb(85, 138, 85);
  &:hover {
    background-color: rgb(67, 107, 67);
  }
}

// RESPONSIVITY
@mixin for-sm-device-down {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
@mixin for-md-device-down {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin for-md-device-up {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin for-lg-device-down {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin for-lg-device-up {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
@mixin for-xl-device-down {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
@mixin for-xl-device-up {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
